In [ ]:
import pandas as pd

dates = pd.date_range("20130101", periods=6)

df = pd.DataFrame(
    {
        "A": [0.342275, -0.010251, -0.344072, -0.235446, 3.074955, -0.039975],
        "B": [-0.333060, -0.322083, -1.185725, -1.721794, 1.848873, 1.090794],
        "C": [-0.333060, -0.716058, 0.242253, -1.721794, 1.848873, -0.960891],
        "D": [1.808311, -0.960891, -0.716058, 0.242253, -0.795627, -1.111459],
    },
    index=dates,
)
df

# 数据选取

官方建议使用优化的熊猫数据访问方法.at，.iat，.loc和.iloc

## 使用[]选取数据

使用[]选取数据时，如果索引不存在，会报错。

### 选取单列数据:

In [ ]:
df["A"]  # 等效于df.A

### 按行选取数据

- 使用[行号:行号] 左闭右开的形式，左边是起始行号，右边是结束行号，不包括右边的行号。
- 按行选取数据,使用index的值进行选取，['index':index] 左开右闭区间

In [ ]:
df[
    1:799
]  # 使用[行号:行号] 左闭右开的形式，左边是起始行号，右边是结束行号，不包括右边的行号。

In [ ]:
df[
    "20130104":"20130110"
]  # 按行选取数据,使用index的值进行选取，['index':index] 左开右闭区间

## 通过标签(行标签index,列名column)选取数据

#### 通过行标签即index选取数据

In [ ]:
df.loc[dates[5]]

#### 通过列标签即列名选取数据

In [ ]:
df.loc[:, ["A", "B"]]

#### 通过行列标签选取数据

In [ ]:
df.loc[dates[1] : dates[3], ["A", "C"]]

In [ ]:
# loc：选取一行一列（即一个单元格）的数据：取出行标签（index）为dates[0]的A列的值
df.loc[dates[3], "A"]

In [ ]:
# at：选取一行一列（即一个单元格）的数据：取出行标签（index）为dates[0]的A列的值
df.at[dates[3], "A"]

## 通过位置选取数据iloc

In [ ]:
df.iloc[3]  # 第4行数据

In [ ]:
df.iloc[3:5, 0:2]  # 选择第4行到第6行，第1列到第3列

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]  # 取出第2、3、5行，第1列和第3列的数据

In [ ]:
df.iloc[1:3]    # 选取第2行到第3行的数据

In [ ]:
df.iloc[1, 1]  # 取第2行第2列的值

## 使用布尔索引选取数据

In [ ]:
df[df.A>0]  # 选择A列大于0的行

In [ ]:
df[df > 0]  # 选择大于0的元素，如果数据中有非数字元素，则会报错

In [37]:
df2 = df.copy()

df2['E'] = ['one', 'one','two','three','four','three']

df2

                   A         B         C         D      E
2013-01-01  0.342275 -0.333060 -0.333060  1.808311    one
2013-01-02 -0.010251 -0.322083 -0.716058 -0.960891    one
2013-01-03 -0.344072 -1.185725  0.242253 -0.716058    two
2013-01-04 -0.235446 -1.721794 -1.721794  0.242253  three
2013-01-05  3.074955  1.848873  1.848873 -0.795627   four
2013-01-06 -0.039975  1.090794 -0.960891 -1.111459  three

In [38]:
df2[df2["E"].isin(["two", "four"])]  # 选择E列中值为two或four的行

                   A         B         C         D     E
2013-01-03 -0.344072 -1.185725  0.242253 -0.716058   two
2013-01-05  3.074955  1.848873  1.848873 -0.795627  four